<h1>WishLists#create</h1>
<p>Find me in app/views/wish_lists/create.html.erb</p>
h1>WishLists#show</h1>
<p>Find me in app/views/wish_lists/show.html.erb</p>

<tr>
  
  <td><%= wish_list.all%></td>
  
  <!-- <td class="item_delete"><%#= link_to(wish_list, method: :delete, remote: true) { icon('minus-circle', '' , class: 'fa-lg') } %> </td> -->
</t