<h1>List of Orders</h1>

<table>
  <thead>
  <style> table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
    th, td {padding: 5px;}
  </style>
    <tr>
      <th>Order Date</th>      
      <th>Order Total</th>         
      <th>Items In Order</th>
    </tr>    
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= number_to_currency order.order_total %><td>
  <% #TODO: this total_price is before tax and shipping!  Needs to be updated to include. CHECK WITH ERIK %>
      <td>
        <% order.line_items.each do |item| %>
          <li>  <%= item.product.title %> </li>
        <% end %>       
  </tbody>    
      
    <% end %>

</table> 

   

<%= link_to 'New Order', new_order_path %>

