<h1>List of Orders</h1>

<table>
  <thead>
  <style> table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
    th, td {padding: 5px;}
  </style>
    <tr>
      <th>Order Date</th>      
      <th>Order Total</th>         
      <th colspan="25">Items In Order</th>
    </tr>    
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <td> <%= order.created_at.strftime("%m/%d/%Y") %> </td>
      <td> $1,000,000.00 <%= number_to_currency order.order_total %> <td>
  <% #TODO: remove "one million dollars" (with a Dr. Evil laugh) %>
      <% order.line_items.each do |item| %>
        <td><li><strong> <%= item.product.title %> </strong></li></td>
      <% end %>       
  </tbody>    
    <% end %>
</table> 

<%= link_to 'New Order', new_order_path %>

